@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

/*Set background color*/
html {
   background-color: rgb(173, 173, 173);
}


#text {
   align-items: center;
   text-align: center;
   position: relative;
   font-family: 'Lexend';
   font-style: normal;
   font-weight: 100 900;
   font-display: swap;
   color: rgb(0, 0, 0);
   font-size: 50px;
}

.timesClicked {
   font-family: 'Lexend';
   font-style: normal;
   font-weight: 100 900;
   font-display: swap;
}

#num {
   display: flex;
   flex-direction: column;
   align-items: left;
}



#buttons {
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
}

#buttonsDash {
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
}

#buttons:hover {
   cursor: pointer;
}

#buttonsDash:hover {
   cursor: pointer;
}

#button1Decoration {
   position: absolute;
   background-color: rgb(57, 57, 57);
   width: 220px;
   height: 220px;
   border-radius: 50%;
   left: 44.3%;
   top: 30.5%;
   z-index: 0;
}

#button1 {
   position: absolute;
   background-color: rgb(255, 0, 0);
   width: 200px;
   height: 200px;
   border-radius: 50%;
   left: 44.85%;
   top: 30%;
   z-index: 1;
}

#button1:hover {
   cursor: pointer;
}

@keyframes orbit {
   0% { 
       transform: rotate(0deg)  
             translateY(250px) rotate(0deg); 
   } 

   100% { 
       transform: rotate(360deg)  
             translateY(250px); 
   } 
} 

@keyframes clickhold {
   100% { 
       transform:
             translateY(4px);
   } 
} 

@keyframes clickleave {
   100% { 
      transform:
            translateY(-4px); 
  } 
 
   100% { 
       transform:
             translateY(0px);
   } 
} 

#button2 {
   position: absolute;
   background-color: rgb(20, 243, 0);
   width: 200px;
   height: 200px;
   border-radius: 50%;
   left: 30%;
   top: 30%;
   z-index: 1;
   opacity: 0;
}

#button2Decoration {
   position: absolute;
   background-color: rgb(57, 57, 57);
   width: 220px;
   height: 220px;
   border-radius: 50%;
   left: 29.45%;
   top: 30.5%;
   z-index: 0;
   opacity: 0;

}


@keyframes button2 {
   100% { 
       opacity: 100;
   } 
} 

@keyframes button2leave {
   100% { 
      opacity: 0;
   } 
} 

@keyframes waitTime {
   100% { 
      opacity: 100;
   } 
}

