@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

html {
   background-color: rgb(173, 173, 173);
}

#text {
   text-align: center;
   position: relative;
   top: 450px;
   color: rgb(0, 0, 0);
   font-size: 50px;
}

.button {
   display: flex;
   flex-direction: column;
   align-items: center;
}

#buttonDecoration {
   position: absolute;
   background-color: rgb(57, 57, 57);
   width: 220px;
   height: 220px;
   border-radius: 50%;
   left: 42.85%;
   top: 30.5%;
   z-index: 0;
}

#button1 {
   position: absolute;
   background-color: rgb(255, 0, 0);
   width: 200px;
   height: 200px;
   border-radius: 50%;
   left: 43.5%;
   top: 30%;
   z-index: 1;
}

#button1:hover {
   cursor: pointer;
}

@keyframes clickhold {
   100% { 
       transform:
             translateY(4px); 
      background-color: rgb(206, 0, 0);
   } 
} 

@keyframes clickleave {
   100% { 
      transform:
            translateY(-4px); 
  } 
 
   100% { 
       transform:
             translateY(0px); 
         background-color: red;
   } 
} 

